# Backend
SPRING_APPLICATION_NAME=bank
SERVER_PORT=8080

# PostgreSQL
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/lab_bank
SPRING_DATASOURCE_USERNAME=usr_application
SPRING_DATASOURCE_PASSWORD=pass_application
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect

# MySQL alternative
# SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/lab_bank?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
# SPRING_DATASOURCE_USERNAME=usr_application
# SPRING_DATASOURCE_PASSWORD=pass_application
# SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
# SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQLDialect

# Spring and application settings
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_SQL_INIT_MODE=always
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_FORMAT_SQL=true
LOGGING_LEVEL_SPRINGFRAMEWORK=INFO
LOGGING_LEVEL_HIBERNATE_SQL=DEBUG
LOGGING_LEVEL_HIBERNATE_BINDER=TRACE
SPRING_TRANSACTION_DEFAULT_TIMEOUT=30
SPRING_TRANSACTION_ROLLBACK_ON_COMMIT_FAILURE=true
SPRING_MVC_FAVOR_PATH_EXTENSION=false
SPRING_MVC_FAVOR_PARAMETER=false
SPRING_MVC_JSON_MEDIA_TYPE=application/json
